In [2]:
# Instalar pandas porque regex es parte de Python
import pandas as pd

In [3]:
# Módulo re es para expresiones regulares en Python
import re

Lo primero que es necesario entender es la diferencia entre un string común y un raw string

```python

print("Esto es una línea\n esto es otra línea")
print(r"Esto es una línea\n esto es otra línea") #La r significa que es una expresión regular


```

In [4]:
# Ejemplo 1
ejemplo_1 = "Hoy es 24 de octubre. La próxima clase será el 31 de Octubre. La última será el 7 de noviembre"

In [5]:
# Podemos buscar los números

re.search(r"24", ejemplo_1)

In [6]:
re.search(r"\d", ejemplo_1)

In [8]:
re.findall(r"\d", ejemplo_1) # Acá capturó solamente un dígito

['2', '4', '3', '1', '7']

In [10]:
# a \d le podemos agregar cuantificadores para decirle cuántas veces queremos
# que encuentre algo

re.findall(r"\d\d", ejemplo_1) # No encuentra el 7 de noviembre porque es un sólo dígito

['24', '31']

In [11]:
# Los cuantificadores son:

re.findall(r"\d+", ejemplo_1) # El + es para decirle que encuentre uno o más dígitos

['24', '31', '7']

In [12]:
# Otro cuantificador es {min,max} o {número exacto}
re.findall(r"\d{1,2}", ejemplo_1) # Encuentra los números de 1 o 2 dígitos

['24', '31', '7']

In [13]:
# Otra forma
re.findall(r"[0-9]+", ejemplo_1)

['24', '31', '7']

Ahora intentaremos capturar el mes y no solamente el día

In [14]:
re.findall(r"\d+ de octubre", ejemplo_1)

['24 de octubre']

In [15]:
# Para ambos octubres
re.findall(r"\d+ de [oO]ctubre", ejemplo_1)

['24 de octubre', '31 de Octubre']

In [17]:
# Una forma para sumar noviembre
re.findall(r"\d+ de ([oO]ctubre|noviembre)", ejemplo_1)

['octubre', 'Octubre', 'noviembre']

In [22]:
# otra forma para capturar el mes
re.findall(r"\d+ de \w+", ejemplo_1)

['24 de octubre', '31 de Octubre', '7 de noviembre']

In [16]:
# Para los meses
re.findall(r"\d+ de [a-zA-Z]+", ejemplo_1)

['24 de octubre', '31 de Octubre', '7 de noviembre']

In [21]:
# Otra forma en caso que no escriban de entre el numero y el mes
re.findall(r"\d+ de* [a-zA-Z]+", ejemplo_1)

['24 de octubre', '31 de Octubre', '7 de noviembre']

In [23]:
ejemplo_2 = """ejemplo 2:
una oración que tiene palabras separadas por espacios y saltos de línea
y que es distinta a otros ejemplos
"""

In [26]:
# Buscar la palabra ejemplo
re.findall(r"ejemplo", ejemplo_2) # Encuentra 2 aunque uno es en plural

['ejemplo', 'ejemplo']

In [25]:
# Buscar ejemplo en singular
re.findall(r"ejemplo\b", ejemplo_2)

['ejemplo']

In [28]:
# Si quiero encontrar el caso de la primera línea
re.findall(r"^ejemplo", ejemplo_2)

['ejemplo']

In [29]:
# El inicio es con ^y el final es con $
ejemplo_3 = "hola hola qué tal. veamos cuántas veces aparece la palabra hola"
re.findall(r"hola$", ejemplo_3)

# anclas: ^ indico que quiero que el patrón esté al inicio de una cadena de caracter
# $ indico que esté al final

['hola']

# Ejemplos con df

In [30]:
registros = pd.read_csv("nombres.csv")

In [32]:
registros.head(20)

    anio     nombre sexo_registral  frecuencia
0   2003   Benjamín              M        6776
1   2003   Catalina              F        5454
2   2003     Matías              M        4563
3   2003    Javiera              F        4479
4   2003  Valentina              F        4424
5   2003  Constanza              F        4270
6   2003      María              F        3761
7   2003      Diego              M        3618
8   2003  Sebastián              M        3512
9   2003   Fernanda              F        3240
10  2003    Nicolás              M        2973
11  2003    Antonia              F        2872
12  2003    Vicente              M        2785
13  2003  Francisca              F        2760
14  2003       José              M        2566
15  2003     Camila              F        2544
16  2003     Felipe              M        2528
17  2003       Juan              M        2296
18  2003    Joaquín              M        2185
19  2003      Sofía              F        2151

In [33]:
#Buscar el nombre Khaleesi
registros[registros.nombre.str.contains("Khaleesi")]

        anio    nombre sexo_registral  frecuencia
115596  2012  Khaleesi              F           1
127017  2013  Khaleesi              F           1
143769  2015  Khaleesi              F           4
155006  2016  Khaleesi              F           4
166344  2017  Khaleesi              F           4
178121  2018  Khaleesi              F           8
193647  2019  Khaleesi              F          10
210091  2020  Khaleesi              F           3
223329  2021  Khaleesi              F           5
237030  2022  Khaleesi              F           4

In [35]:
registros[registros["nombre"].str.match(r"Khaleesi") == True]

        anio    nombre sexo_registral  frecuencia
115596  2012  Khaleesi              F           1
127017  2013  Khaleesi              F           1
143769  2015  Khaleesi              F           4
155006  2016  Khaleesi              F           4
166344  2017  Khaleesi              F           4
178121  2018  Khaleesi              F           8
193647  2019  Khaleesi              F          10
210091  2020  Khaleesi              F           3
223329  2021  Khaleesi              F           5
237030  2022  Khaleesi              F           4

In [36]:
registros[registros["nombre"].str.match(r"Kh?aleesi") == True] # El ? es para que la h sea opcional

        anio    nombre sexo_registral  frecuencia
115596  2012  Khaleesi              F           1
127017  2013  Khaleesi              F           1
143769  2015  Khaleesi              F           4
155006  2016  Khaleesi              F           4
166344  2017  Khaleesi              F           4
178121  2018  Khaleesi              F           8
186799  2018   Kaleesi              F           1
193647  2019  Khaleesi              F          10
210091  2020  Khaleesi              F           3
223329  2021  Khaleesi              F           5
237030  2022  Khaleesi              F           4

In [38]:
registros[registros["nombre"].str.match(r"Kh?ale*si") == True] # El * es para que la e sea opcional

        anio    nombre sexo_registral  frecuencia
115596  2012  Khaleesi              F           1
127017  2013  Khaleesi              F           1
133689  2014   Khalesi              F           2
143769  2015  Khaleesi              F           4
155006  2016  Khaleesi              F           4
166344  2017  Khaleesi              F           4
178121  2018  Khaleesi              F           8
186799  2018   Kaleesi              F           1
193647  2019  Khaleesi              F          10
210091  2020  Khaleesi              F           3
223329  2021  Khaleesi              F           5
225059  2021   Khalesi              F           2
237030  2022  Khaleesi              F           4

In [39]:
registros[registros["nombre"].str.match(r"Kh?ale*s[iy]") == True] # El [] es para que la i/y sea opcional

        anio    nombre sexo_registral  frecuencia
115596  2012  Khaleesi              F           1
126793  2013    Kalesy              F           1
127017  2013  Khaleesi              F           1
133689  2014   Khalesi              F           2
143769  2015  Khaleesi              F           4
155006  2016  Khaleesi              F           4
160964  2016  Khaleesy              F           1
160965  2016   Khalesy              F           1
166344  2017  Khaleesi              F           4
167770  2017  Khaleesy              F           2
172575  2017    Kalesy              F           1
178121  2018  Khaleesi              F           8
186799  2018   Kaleesi              F           1
187118  2018   Khalesy              F           1
193647  2019  Khaleesi              F          10
202232  2019    Kalesy              F           1
210091  2020  Khaleesi              F           3
217014  2020  Khaleesy              F           1
223329  2021  Khaleesi              F           5
225058  2021  Khaleesy              F           2
225059  2021   Khalesi              F           2
237030  2022  Khaleesi              F           4
244015  2022    Kalesy              F           1
244299  2022  Khaleesy              F           1

In [40]:
registros[registros["nombre"].str.match(r"[KC]h?ale*[iy]*s[iy]") == True]

        anio    nombre sexo_registral  frecuencia
115596  2012  Khaleesi              F           1
126793  2013    Kalesy              F           1
127017  2013  Khaleesi              F           1
133689  2014   Khalesi              F           2
143769  2015  Khaleesi              F           4
155006  2016  Khaleesi              F           4
160964  2016  Khaleesy              F           1
160965  2016   Khalesy              F           1
166344  2017  Khaleesi              F           4
167770  2017  Khaleesy              F           2
169687  2017    Chalsy              F           1
172573  2017   Kaleisy              F           1
172575  2017    Kalesy              F           1
172581  2017   Kaleysi              F           1
172589  2017    Kalisi              F           1
178121  2018  Khaleesi              F           8
186799  2018   Kaleesi              F           1
187118  2018   Khalesy              F           1
193647  2019  Khaleesi              F          10
202232  2019    Kalesy              F           1
210091  2020  Khaleesi              F           3
217014  2020  Khaleesy              F           1
223329  2021  Khaleesi              F           5
225058  2021  Khaleesy              F           2
225059  2021   Khalesi              F           2
237030  2022  Khaleesi              F           4
244015  2022    Kalesy              F           1
244299  2022  Khaleesy              F           1

In [43]:
registros[registros["nombre"].str.match(r"[KC]h?[aáäà]l[eéëè]*[iíïìy]*s[iíïìy]") == True]

        anio    nombre sexo_registral  frecuencia
115596  2012  Khaleesi              F           1
126793  2013    Kalesy              F           1
127017  2013  Khaleesi              F           1
133689  2014   Khalesi              F           2
143769  2015  Khaleesi              F           4
155006  2016  Khaleesi              F           4
160964  2016  Khaleesy              F           1
160965  2016   Khalesy              F           1
166344  2017  Khaleesi              F           4
167770  2017  Khaleesy              F           2
169687  2017    Chalsy              F           1
172573  2017   Kaleisy              F           1
172575  2017    Kalesy              F           1
172581  2017   Kaleysi              F           1
172589  2017    Kalisi              F           1
178121  2018  Khaleesi              F           8
186799  2018   Kaleesi              F           1
187118  2018   Khalesy              F           1
193647  2019  Khaleesi              F          10
202232  2019    Kalesy              F           1
210091  2020  Khaleesi              F           3
217014  2020  Khaleesy              F           1
223329  2021  Khaleesi              F           5
225058  2021  Khaleesy              F           2
225059  2021   Khalesi              F           2
237030  2022  Khaleesi              F           4
244015  2022    Kalesy              F           1
244299  2022  Khaleesy              F           1